<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= @title %></title>
    <meta name="description" content={@description} />
    <meta name="author" content={site_config(:site_author)} />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; style-src 'self' 'unsafe-inline' https://www.googletagmanager.com https://tagmanager.google.com; script-src 'self' 'sha256-vzoYD0mkYWE18p2EN2jX1IwgRfDT3sPQGf1UNf7FVUk=' https://*.googletagmanager.com https://unpkg.com; img-src 'self' https://*.google-analytics.com https://*.googletagmanager.com; connect-src 'self' https://*.google-analytics.com https://*.analytics.google.com https://*.googletagmanager.com https://api.websitecarbon.com/
; base-uri 'none'; object-src 'none';"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="/feed.xml"
      rel="alternate"
      type="application/rss+xml"
      title={site_config(:site_title)}
    />
    <link rel="icon" type="image/x-icon" href="/imgs/favicon.ico" />
    <meta name="ROBOTS" content="INDEX, FOLLOW" />
    <meta property="og:title" content={@title} />
    <meta property="og:description" content={@description} />
    <meta property="og:type" content={@og_type} />
    <meta property="og:url" content={"#{site_config(:site_url)}#{@route}"} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={@title} />
    <meta name="twitter:description" content={@description} />
    <meta itemprop="name" content={@title} />
    <meta itemprop="description" content={@description} />
    <%= if @og_type == "article" do %>
      <meta itemprop="datePublished" content={format_iso_date(@date)} />
      <meta itemprop="dateModified" content={format_iso_date(@date)} />
      <meta itemprop="wordCount" content={@wordcount} />
      <%= if @keywords != nil do %>
        <meta itemprop="keywords" content={Enum.join(@keywords, ",")} />
        <meta :for={keyword <- @keywords} property="article:tag" content={keyword} />
      <% end %>
      <meta property="article:author" content={site_config(:site_author)} />
      <meta property="article:section" content="Software" />
      <meta property="article:published_time" content={format_iso_date(@date)} />
      <meta property="article:modified_time" content={format_iso_date(@date)} />
    <% end %>
    <link rel="canonical" href={"#{site_config(:site_url)}#{@route}"} />
    <link rel="stylesheet" href="/assets/app.css" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BZ48E9DZ0Q">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-BZ48E9DZ0Q');
    </script>
    <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer>
    </script>
  </head>
  <body>
    <header id="top-header">
      <div class="site-title">
        <h1>
          <a href="/">Dairon <span>Medina Caro</span></a>
        </h1>
      </div>
      <nav>
        <a href="/about/">About</a>
        <a href="https://www.soulfulsabor.com?utm_source=dairon_org&utm_medium=top_menu">
          Recipes (SoulfulSabor)
        </a>
        <a type="application/rss+xml" href="/feed.xml">RSS</a>
        <a href="https://github.com/codeadict">Github</a>
        <a href="https://twitter.com/codeadict">Twitter</a>
      </nav>
    </header>
    <%= render_slot(@inner_block) %>
  </body>
</html>
