<footer class="footer">
    <div class="container pt-2 pb-2">
        <div class="row">

            <div class="col-md-6 mt-2">
                <h6><i class="fa fa-copyright"></i> {{ site.title | escape }}</h6>
                <p>{{ site.description | escape }}</p>
                <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" rel="copyright">
                    <img src="/imgs/site-cc-licence2.png" alt="by-nc-sa">
                </a>
            </div>

            <div class="col-md-6 mt-2">
                <ul class="list-unstyled float-md-right">
                    {% if site.github_username %}
                    <li>
                        <a href="https://github.com/{{ site.github_username }}">
                            <i class="fa fa-fw fa-github" aria-hidden="true"></i> Github
                        </a>
                    </li>
                    {% if site.linkedin_username %}
                    <li>
                        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
                            <i class="fa fa-fw fa-linkedin" aria-hidden="true"></i> Linkedin
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="/feed.xml">
                            <i class="fa fa-fw fa-rss" aria-hidden="true"></i> Feed
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</footer>
