<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{ site.title }}</h1>
      <p class="lead">Thoughts of an OpenSource Consultant<a href="{{ site.author.url }}">@codeadict</a>.</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="/">Home</a>
      </li>
      <li class="sidebar-nav-item{% if page.title == "Services" %} active{% endif %}">
        <a href="/about">Services</a>
      </li>
      <li class="sidebar-nav-item{% if page.title == "Blog" %} active{% endif %}">
        <a href="/blog">Blog</a>
      </li>
      <li class="sidebar-nav-item">
        <a href="{{ site.github.repo }}">GitHub projects</a>
      </li>
      <li>
        <a name="freelancer_Hireme" user_id="2167760" size="small" annotation="bubble" title="Hire me! on Freelancer.com" href="https://www.freelancer.com/users/2167760.html">Python Developer</a>
      </li>
    </ul>
  </div>
</div>
