html {
    border-top: 3px solid #C65631;
}

body {
    color: #222;
    line-height: 1.5;
    margin: 1em auto;
    max-width: 45em;
    padding: 0 1em;
}

@media only screen and (min-width: 40.063em) {
    body {
        font-size: 112.5%;
    }
}

h1,
h2,
h3,
h4 {
    line-height: 1.2;
}

a {
    border-bottom: 1px solid #bbb;
    color: #111;
    text-decoration: none;
}

ul {
    list-style: circle;
}

ul.contact {
    list-style: none;
}

ul,
ol {
    margin-left: 0;
    padding-left: 0;
}

li {
    margin-bottom: 0.3em;
    margin-left: 1em;
}

blockquote {
    border-left: 1px solid #ccc;
    margin: .7rem 0;
    padding-left: 1rem;
}

.photo {
    margin-bottom: 20px;
}

.photo>figure {
    float: right;
    margin-left: 1em;
}

.photo img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

figure>a,
a img {
    border-bottom: none;
}

img {
    height: auto;
    margin: .7rem auto;
    max-width: 100%;
}

figcaption {
    font-style: italic;
}

hr {
    border: none;
    display: block;
    height: 1rem;
    line-height: 1;
    margin: 0 0.7em;
    padding: 0;
}

hr::after {
    color: #333;
    content: "\00B6";
    display: block;
    text-align: center;
}

header,
footer,
.center {
    text-align: center;
}

footer {
    color: #b64a4a;
}